.lagak{
    height:100vh;
    background-color: #3c476e;
}
.userRo{
    display:flex;
    align-items: center;
    gap:20px;
    margin:2px auto 20px auto
}
.helpin{
    width:80%
}

.posit{
    position:relative
}
.positIcon{
    position:absolute;
    right:10px;
    top:32%;
    color:gray;
    font-size: 18px;
    cursor:pointer;

    transform: translateY(-50%,-50%);
}
.helpin1{
    width:18%  
}
.phoneNu{
    width:20% !important;
}
.phone{
    width:5% !important;
}
.Searchh{
    width:100px;
    background-color: #fff;
    color:#000;
    padding:10px 6px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.8px;
}
.forr{
    width:100%;
    padding:10px 8px;
    border-radius: 6px;
}
.PHONENUM{
    margin-top: 20px;
}
.ApprovedButton{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #001041;
    padding: 6px 14px;
    border-radius: 4px;
}
.yesp{
    padding: 8px 9px;
    background-color: #fff;
    color:#000;
    border-radius: 4px;
}
.yesp:hover{
    background-color: gray;
    color:#fff

}
.Nop{
    background-color: red !important; 
    color:#fff; 
}
.Nop:hover{
    background-color:#be5a5f !important; 
    color:#fff; 
}
.work{
    padding:4px !important;
}
.ikeli{
    background-color: #3c476e;
    color:#fff;
    padding:10px 10px;
    font-weight: 800;
    font-size: 16px;
    border-radius: 4px;
}