.teleCom{
    display:flex;
    justify-content: center;
    gap:20px;
    padding:0 10px

}
.commT{
    position: relative;
    width:50%;
    border-radius: 4px;
    background-color: #2d2f4cc9;
    text-align: center;
    z-index: 1;
    /* box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px; */
    /* box-shadow: 0 13px 27px -5px rgb(178 178 212 / 25%), 0 8px 16px -8px rgb(15 15 15 / 17%); */
    box-shadow: 0 -2px 14px -5px rgb(15 15 36 / 28%), 0px 3px 16px -4px rgb(15 15 15 / 17%);
}

.fareWo{
    position:relative;
    padding-bottom: 2px;
}
.fareWo1{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color: #fff;
    background-image: linear-gradient(53deg,#192854,#192854,#475991ed);
    position:absolute;
    filter: blur(10px);
    
}
.fareWo3{
    top:10%;
    left:1%;
 
}
.fareWo2{
 bottom:10%;
 right:1%;

}
.FreeComm{
    padding:10px;
    /* background-color:#b7bbd6; */
    border-bottom: 2px solid rgb(200 208 233 / 29%);
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color:#c1c3cb;
}
.Saving{
    padding:10px;
    font-size: 28px;
    font-weight: 800;
    color:#e1ca3b;

}
.perceT{
    font-size: 28px;
    font-weight: 800;
    color:#fff;
    margin-bottom: 10px;
}
.ChartFArea{
    width:100%;
    max-width: 100%;
    overflow-x: scroll;

}
.ChartFArea::-webkit-scrollbar {
        display: none;}

.dailyOn{
    font-size: 28px;
    font-weight: 800;
    color:#000;
    margin-bottom: 10px;
}
.AirTime{
    font-size:16px ;
    color:#a6acbb;
    font-weight: 500;
    margin-bottom: 20px;
}
.successRate100{
    padding:10px;
    background-color: rgb(60 71 110 / 73%);
    /* background-color: #354269; */
    /* color: #c4c8d6; */
    color: #ffffff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}
.RateSuccess{
    font-size: 22px;
    font-weight: 700;
}
.divRatT{
    margin-top: 20px;
    margin-bottom: 60px;
}
.fear{
    padding-top: 40px;
    /* height:300px; */
    padding-bottom: 20px;
}
.loud{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color:#e1ca3b;
    margin-bottom: 20px;
    padding-top: 20px;
}
.Forex1{
    display:flex;
    justify-content: space-between;
    padding: 0 10px;
}
.Forex12{
    padding:10px 2px;
    width:23%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    z-index: 1;

    background: #fff;
    border-radius: 26px;
      box-shadow: 0 2px 8px rgb(18 14 56 / 32%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    color: #000;
    cursor: pointer;
  
}
.Forex12:hover{
    background: #2d2d4c;
    color:#fff  
}

.SPM{
    display:flex;
    justify-content: space-between;
    gap:20px;
    margin-top: 20px;
    margin-bottom: 60px;
  
}
.cappin{
    width: 98% !important;
    gap:10px;
    margin-top:30px ;
    margin-bottom: 30px;
}


.sport2{
    background-color:#3c476e;
    width: 30% ;
    text-align: center;
    z-index: 1;
    border-radius: 4px;
    box-shadow: rgb(80 80 118 / 25%) 0px 13px 27px -5px, rgb(152 164 195 / 30%) 0px 8px 16px -8px;
}
.divS{
    padding:10px 2px;
    background-color: #d8d8d8;
}
.dailyP21{
    font-size: 16px;
    color:#fff;
    font-weight: 400;
    line-height: 40px;
}
.Dyc{
   font-size: 26px;
   font-weight: 800; 
   line-height: 50px;
   color:#fff;
}
.addErn{
    color:#fff;
    font-size: 15px;
    line-height: 40px;
}
.EarnLoss{
    padding:15px 2px;
    background-color:#1e7d49;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
.loss{
    background-color: #880000 !important;
}
.TrustSeal{
 
    margin:15px 0;


    border-radius: 6px;
    /* background: rgb(71 79 217 / 15%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%); */
        background: rgb(6 8 28 / 15%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 90px solid rgb(61 65 129 / 15%)
}
.SealY{
    padding:10px 2px;
    text-align: center;
    /* background-color:#cbcbcb; */
    background-color: #e1ca3b;
    font-size: 16px;
    font-weight: 600;
    width:30%;
    max-width: 400px;
    margin:-20px auto 20px auto;
    color: #3c476e;
}
.ifYou{
    width:75%;
    color:#d4d9e9;
    margin:0 auto 10px auto;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.lio{
    font-size:18px;
    font-weight: 700;
    margin-top: 20px;
    
}

.ye{
    width:200px;
    height:4px;
    margin: 0 auto 20px auto;
    background-color: #8f94aac2;
}
.with{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color:#000;
    margin-bottom: 10px;
   
}
.Rtme{
    width:100%;
    max-width: 1000px;
    padding: 0 10px;
    margin:0 auto
}
.Make15{
    display:flex;
    align-items: center;
    width:100%;
    max-width: 1050px;
    margin:0 auto;
    justify-content: center;
    gap:30px
}
.millionM{
    font-size: 26px;
    font-weight: 800;
    color:#cfd4e3;
    line-height: 40px;
}
.OnRef{
    text-align: center;
    font-size: 18px;
    color:#000;
    font-weight: 500;
}
.Onref1{
    font-size: 18px;
    color:#000;
    font-weight: 500;
    line-height: 28px;
}
.Nog{
   font-size: 16px;
   font-weight: 700; 
}

.UsAbout {
    --s: 0.1em;   /* the thickness of the line */
    --c: #758bc9; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#c4c8d5 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
  .UsAbout:hover {--_p: 100%;
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
}

.ballSport{
    position: absolute;
    font-size: 60px;
    top:47%;
    color:#3c476e;
    left:5%
}
.ballSport1{
    position: absolute;
    font-size: 60px;
    top:22%;
    color:#3c476e;
    right:5%
}
.ffoo{
    width:50px
}
 
.UsAbout{
    text-align: center;
    margin-top: 36px;
    font-size: 30px;
    font-weight: 700;
    width:50%;
    max-width: 415px;
    margin:30px auto 0 auto;
    color:#e1ca3b;
   
    margin-bottom: 40px;
    transition: ease all 2s;
}
/* .UsAbout:hover {
    
  } */
.PYTo{
   padding: 20px 10px; 
}
.fugmu{
    padding:35px 0 0px 0;
}
.HomPageBg{
/* background-color:#f7f7f7; */
background-image: linear-gradient(to right, rgba(106, 116, 167, 0.34), rgba(119, 135, 182, 0.95));
}
.divUnder{
    width:55%;
    max-width: 400px;
    margin:0 auto 30px auto;
    height: 5px;
    background-color: #758bc9;
}
.divUnder1{
    width:30%;
    max-width: 300px;
    margin:0 auto 30px auto;
    height: 5px;
    background-color: #758bc9;
}
.foodTm{
    width:100%;
    height:100%;
    border-radius: 4px;
}
.Tmfood{
    width:450px;
    height:450px;
    margin-left: 10px;
}
.STRn{
    display:flex;
    align-items: center;
    justify-content: center;
  
}
.you{
    width:100%;
    display: flex;
  
    border-radius: 5px;
    /* justify-content: center; */

}
.Stuffy{
    width:64%;
    max-width: 70%;
    margin:0 auto;
    text-align: center;
}
.backthan{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
    color:#919dcb;

}
.pickStuff{
    font-size: 18px;
    font-weight: 400;
    color:#fff;

}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid #252a77 !important;
}
.carousel.carousel-slider .control-arrow {
    color: #252a77 !important;
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #252a77 !important;
}
.carousel.carousel-slider .control-arrow:hover {
    background:none !important;
}
.pairs{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.pin{
    background-color:#3c476e;
    color: #fff;
}
.Usdj{
    font-size:16px;
    font-weight: 400;
    margin-bottom: 10px;
    color:#fff;
}
.busyer{
padding:10px 10px 0px 10px;
}
.Fitwem{
    /* border:1px solid #fff; */
    padding:6px 22px;
    border-radius: 3px;
    box-shadow: 0px 2px 8px #182852;
    /* background-color: #000; */
}
.fadama{
    width:100%;
    max-width:700px;
    margin:0 auto 60px auto;
}
.Great{
    padding-top:60px;
    padding-bottom: 50px;
    background-color:#fff;
    height:300px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    /* border: 20px solid rgb(60 71 110); */
    /* border: 20px solid rgb(158 169 208); */
  
    border-radius: 10px;
}
.fit{
    padding: 5px 5px 5px 10px;
}
.fit:hover{
    color:#5f7ac9
}
.WhatD{
    padding-bottom: 60px;
    padding-top: 40px;
}

@media(min-width:768px) and (max-width:868px){
    .vap{
        display:none
    }

}
@media(max-width:768px){
    .fugmu {
        padding: 1px 0 1px 0;
    } 
    .CarouseDivDiv {
        margin: 2px auto 2px auto !important;
    }
    .teleCom {
        flex-direction: column;
        gap:0; 
        /* margin-bottom: 20px; */ 
        padding: 0 6px;
    }
    .dese{
        margin-bottom:0px !important;
    }
    .commT {
        width: 100%;
        margin-bottom:20px;
        background-color:#323448a6;
    }


.successRate100 {
  
    background-color: rgb(60 71 110 / 73%);
  
}
.TrustSeal {
  
    background: rgb(71 79 217 / 15%);
    border: 1px solid rgb(61 65 129 / 15%);
  
}
    .FreeComm {
        border-bottom: 2px solid rgb(200 208 233 / 29%);
       
    }
    .Forex1 {
        /* flex-direction: column; */
        width:900px;
        max-width: 900px;
        overflow-x: hidden;
        position: relative;
        padding: 0 6px;
    }
    .faith{
        width:100%;
        max-width: 100%;
        overflow-x: scroll;

    }
    .Stuffy{
        width: 100%;
        max-width: 92%;
    }

    .Forex12 {
        width: 210px;
        margin-bottom: 5px;
    }
    .ImgDiv{
        height:auto;
    }
    .millionM{
        font-size: 20px;
       
    }
    .Tmfood{
        width:100%;
        height:266px;
        margin-left: 0;
    }
    .WhatD{
    padding-bottom: 12px;
    padding-top: 0px;
    }
    .millionM{
        text-align: center;
    }
    .SPM {
        flex-direction: column;
        padding: 0 6px;
    }
.sport2 {
    width: 100%;
}
.SealY {
    width: 62%;
}
.ifYou {
    width: 92%;
}
.fear{
    padding-bottom: 42px;
    padding-top: 0px;
    height: 246px;
}
.Make15 {
    flex-direction: column;
    width: 100%;
}
.loud{
    padding-top: 20px;
    font-size: 21px;
}
.with {
    font-size: 21px;
  
}
.backthan{
    font-size: 21px;
}
.UsAbout {
  
    width: 82%;
    font-size: 26px;
    margin-bottom: 2px;
}
.Great{
    height:auto;
    background-color: rgb(71 79 217 / 15%);
    border:1px solid rgb(130 143 197);
}

.EarnP {
    font-size: 30px;
    text-align: center;
    margin-top: 14px;
}
.Rtme {
    width: 100%;
    padding: 0 8px; 
}
.you {
    width: 100%;
}
.divRatT{
    margin-bottom: 0;
}
.Great{
    padding-top:40px;
}
}
@media (max-width: 1024px){
.Rtme {
    max-width: 768px;
}
}

@media(min-width:1250px){
    .Rtme {
        max-width: 1200px;
    } 
}
@media(max-width:351px){
    .fear{
        margin-bottom: 15px;
    }
}

@media(max-width:464px){
    .cappin{
        width:100% !important;
    }
}