.teleCom{
    display:flex;
    justify-content: center;
    gap:20px;
    padding:0 10px

}
.commT{
    position: relative;
    width:50%;
    border-radius: 22px;
    text-align: center;
    z-index: 1;
    box-shadow: 0 -2px 14px -5px rgb(15 15 36 / 28%), 0px 3px 16px -4px rgb(15 15 15 / 17%);
        background: linear-gradient(71deg, #323956, #4a4f79, #86b3ef);
        background-clip: padding-box;  
}





.commT:after{
    content: "";
            display: block; width: 0px; height: 0px; background-color: #6e7ca7fa; top: 0px; right: 0px; border-bottom: 20px solid darken(teal, 5%); border-left: 20px solid darken(teal, 5%); border-right: 20px solid #6f7dab99;
                border-top: 20px solid #36406080;position: absolute; filter: drop-shadow(-5px 5px -1px rgba(0, 0, 0, 0.5))
}




.fareWo{
    position:relative;
    padding-bottom: 2px;
}
.fareWo1{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color: #fff;
    background-image: linear-gradient(53deg,#192854,#192854,#475991ed);
    position:absolute;
    filter: blur(10px);
    
}
.fareWo3{
    top:10%;
    left:1%;
 
}
.fareWo2{
 bottom:10%;
 right:1%;

}
.FreeComm{
    padding:10px;
    border-bottom: 2px solid rgb(200 208 233 / 29%);
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color:#c1c3cb;
}
.Saving{
    padding:10px;
    font-size: 28px;
    font-weight: 800;
    color:#e1ca3b;

}
.perceT{
    font-size: 28px;
    font-weight: 800;
    color:#fff;
    margin-bottom: 10px;
}
.ChartFArea{
    width:100%;
    max-width: 100%;
    overflow-x: scroll;

}
.ChartFArea::-webkit-scrollbar {
        display: none;}

.dailyOn{
    font-size: 28px;
    font-weight: 800;
    color:#000;
    margin-bottom: 10px;
}
.AirTime{
    font-size:16px ;
    color:#a6acbb;
    font-weight: 500;
    margin-bottom: 5px;
}
.successRate100{
    padding:10px;
    color: #ffffff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}
.RateSuccess{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color:#a6b1d1;
}
.divRatT{
    margin-top: 20px;
    margin-bottom: 60px;
}
.fear{
    /* padding-top: 40px;
    padding-bottom: 20px; */
        /* background: rgb(6 8 28 / 15%);
        overflow: hidden;
        height: auto;
        position: relative; */
}
.loud{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color:#e1ca3b;
    margin-bottom: 20px;
    padding-top: 20px;
}
.Forex1{
    display:flex;
    justify-content: space-between;
    padding: 0 10px;
}
.Forex12{
    padding:10px 2px;
    width:23%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    z-index: 1;

    background: #fff;
    border-radius: 26px;
      box-shadow: 0 2px 8px rgb(18 14 56 / 32%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #000;
    cursor: pointer;
  
}
.Forex12:hover{
    background: #2d2d4c;
    color:#fff  
}

.SPM{
    display:flex;
    justify-content: space-between;
    gap:20px;
    margin-top: 20px;
    margin-bottom: 60px;
  
}
.upcase{
    text-transform:uppercase;
}
.lowcase{
    text-transform:capitalize;
    }
    .losscolor{
        color:red !important;
    }

.Nog4{
    color:#56ff56 !important;
}
.Nog4fade{
    color: #91ef91 !important;
}
.Nog5{
    color:#7c7cf3 !important;
}
.Nog5fade {
    color: #9292e5 !important;
}

.cappin{
    width: 98% !important;
    gap:10px;
    margin-top:30px ;
    margin-bottom: 30px;
}


.sport2{
    position:relative;
    width: 30% ;
    text-align: center;
    border-radius: 4px;
        /* background: linear-gradient(71deg, #383f56, #222738, #3c476e); */
        background:linear-gradient(176deg, #333255, #333252, #3e4168);
    background-clip: padding-box;
    border: 2px solid transparent;
     border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
            box-shadow: rgb(174 174 219 / 25%) 0px 13px 27px -5px, rgb(122 133 161 / 30%) 0px 8px 16px -8px;
}
.yellowC, .yellowA, .yellowB,.yellowD{
    position:relative
}
.yellowC::after, .yellowA::after,
.yellowD::after, .yellowB::after{
    position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        content: "";
        z-index: -1;
        border-radius: 10px;
}
.yellowC::after{
    background: linear-gradient(71deg, #3e4970, #dddd33, #3e4970);

}
.yellowA::after{
    background: linear-gradient(71deg, #3e4970, #56ff56, #3e4970);
}
.yellowB::after{
    background: linear-gradient(71deg, #3e4970, #7c7cf3, #3e4970);
}
.yellowD::after {
    background: linear-gradient(71deg, #3e4970, blue, #3e4970);
}
.divS{
    padding:10px 2px;
        background-color: #7788bf36;
        border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            color:#e5e0e0;
}
.dailyP21{
    font-size: 16px;
    color:#fff;
    font-weight: 400;
    line-height: 40px;
}
.Dyc{
   font-size: 26px;
   font-weight: 800; 
   line-height: 50px;
   color:#fff;
}
.addErn{
    color:#fff;
    font-size: 15px;
    line-height: 40px;
}
.EarnLoss{
        padding: 7px 12px;
    
    color:#39df55;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    font-weight: 800;

    
}
.loss{
    background-color: #880000 !important;
}
.TrustSeal{
    margin:15px 0;
    border-radius: 6px;
        /* background: rgb(6 8 28 / 15%); */
        /* box-shadow: 0 4px 30px rgb(253 250 250 / 10%); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 90px solid rgb(61 65 129 / 15%) */

}
.change75{
    width: 473px;
        height: 399px;
        position: absolute;
        background-color: #2a2f42;
        transform: rotateZ(340deg);
        z-index: 5;
        left: -300px;
}
.SealY{
    padding:10px 2px;
    text-align: center;
    background-color: #5f6c9e;
        backdrop-filter: blur(44px);
    font-size: 16px;
    font-weight: 700;
    width:30%;
    max-width: 400px;
    margin:-14px auto 20px auto;
    color: #e1ca3b;
    /* border-top-right-radius: 10px;
        border-top-left-radius: 10px; */
}
.ifYou{
    width:75%;
    color:#d4d9e9;
    margin:0 auto 10px auto;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.lio{
    font-size:18px;
    font-weight: 700;
    margin-top: 20px;
    color:#e1ca3b;  
}

.ye{
    width:200px;
    height:4px;
    margin: 0 auto 20px auto;
    background-color: #8f94aac2;
}
.with{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color:#fdfdfd;;
    margin-bottom: 10px;
}
.Rtme{
    width:100%;
    max-width: 1000px;
    padding: 0 10px;
    margin:0 auto;
    
  

}
.Make15{
    display:flex;
    align-items: center;
    width:100%;
    max-width: 1050px;
    margin:0 auto;
    justify-content: center;
    gap:30px
}
.millionM{
    font-size: 26px;
    font-weight: 800;
    color:#e1ca3b;
    line-height: 40px;
}
.OnRef{
    text-align: center;
    font-size: 18px;
    color:#d5d5d5;
    font-weight: 500;
}
.Onref1{
    font-size: 18px;
    color:#d5d5d5;
    font-weight: 500;
    line-height: 28px;
}
.Nog{
   font-size: 16px;
   font-weight: 700;
   color:#dddd33;
}

.UsAbout {
    --s: 0.1em;   /* the thickness of the line */
    --c: #758bc9; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#c4c8d5 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
  .UsAbout:hover {--_p: 100%;
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
}

.ballSport{
    position: absolute;
    font-size: 60px;
    top:56%;
    color:#3c476e;
    left:5%
}
.ballSport1{
    position: absolute;
    font-size: 60px;
    top:22%;
    color:#3c476e;
    right:5%
}
.ffoo{
    width:50px
}
 
.UsAbout{
    text-align: center;
    margin-top: 36px;
    font-size: 30px;
    font-weight: 700;
    width:50%;
    max-width: 415px;
    margin:30px auto 0 auto;
    color:#e1ca3b;
   
    margin-bottom: 40px;
    transition: ease all 2s;
}
.PYTo{
   padding: 20px 10px; 
}
.fugmu{
    padding:35px 0 0px 0;
}
.HomPageBg{
background-image: linear-gradient(to right, rgba(106, 116, 167, 0.34), rgba(119, 135, 182, 0.95));
}
.divUnder{
    width:55%;
    max-width: 400px;
    margin:0 auto 30px auto;
    height: 5px;
    background-color: #758bc9;
}
.divUnder1{
    width:30%;
    max-width: 300px;
    margin:0 auto 30px auto;
    height: 5px;
    background-color: #758bc9;
}
.foodTm{
    width:100%;
    height:100%;
    border-radius: 4px;
}
.Tmfood{
    width:450px;
    height:450px;
    margin-left: 10px;
}
.STRn{
    display:flex;
    align-items: center;
    justify-content: center;
}
.you{
    width:100%;
    display: flex;
    border-radius: 5px;
}
.Stuffy{
    width:64%;
    max-width: 70%;
    margin:0 auto;
    text-align: center;
}
.backthan{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
    color:#1b213a;
}
.pickStuff{
    font-size: 18px;
    font-weight: 400;
    color:#fff;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid #252a77 !important;
}
.carousel.carousel-slider .control-arrow {
    color: #252a77 !important;
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #252a77 !important;
}
.carousel.carousel-slider .control-arrow:hover {
    background:none !important;
}
.pairs{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.pin{
    background-color:#3c476e;
    color: #fff;
}
.Usdj{
    font-size:16px;
    font-weight: 400;
    margin-bottom: 10px;
    color:#e3e1e1;
}
.addpo{
    color:#dddd33
}
.addpo1{
    color: #f5f5a0;
}
.busyer{
padding:10px 10px 0px 10px;
}
.Fitwem{
   
    padding:6px 22px;
    border-radius: 3px;
        box-shadow: 1px 2px 121px #a6adc9;
}
.fadama{
    width:100%;
    max-width:700px;
    margin:0 auto 60px auto;
}
.Great{
    padding-top:60px;
    padding-bottom: 50px;
    background-color:#67668329;;
    height:300px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    border-radius: 10px;
}
.fit{
    padding: 5px 5px 5px 10px;
}
.fit:hover{
    color:#5f7ac9
}
.WhatD{
    padding-bottom: 60px;
    padding-top: 40px;
}

@media(min-width:768px) and (max-width:868px){
    .vap{
        display:none
    }

}
@media(max-width:768px){
    .fugmu {
        padding: 1px 0 1px 0;
    } 
    .IconSpace{
        margin-left: 4px;
    }
    .CarouseDivDiv {
        margin: 2px auto 2px auto !important;
    }

.pickStuff{
    font-size: 16px;
}
.with{
    color:#ffffff;
}
.Fitwem {

    padding: 6px 7px;
    
}
.Onref1{
    color:#bebfc7;
    font-size: 15px;
}
.OnRef{
    color:#ffffff;
    font-size: 16px;
}
    .Usdj{
        font-size: 14px;
    }
        .king .react-multi-carousel-item {
            max-width: 100%;
            /* width:300px !important; */
            /* max-width: 300px !important; */
        }
    .commT {
        width: 100%;
        max-width: 425px;
        margin: 0 auto 15px auto;
    }

.TrustSeal {
  
    background: rgb(67 78 119); 
    border: 1px solid rgb(61 65 129 / 15%); 
    width: 100%;
    max-width: 530px;
     margin: 0 auto;
}
    .FreeComm {
        border-bottom: 2px solid rgb(200 208 233 / 29%);  
    }
    .Forex1 {
        width:720px;
        max-width: 720px;
        overflow-x: hidden;
        position: relative;
        padding: 0 6px;
        margin:0 auto
    }
    .faith{
        width:100%;
        max-width: 100%;
        overflow-x: scroll;

    }
    .Stuffy{
        width: 100%;
        max-width: 92%;
    }

    .Forex12 {
        width: 170px;
        margin-bottom: 5px;
    }
    .ImgDiv{
        height:auto;
    }
    .millionM{
        font-size: 20px;
       
    }
    .Tmfood{
        width:100%;
        height:266px;
        margin-left: 0;
    }
    .WhatD{
    padding-bottom: 12px;
    padding-top: 0px;
    }
    .change75{
        display: none;
    }
    
    .millionM{
        text-align: center;
    }
    .SPM {
        flex-direction: column;
        padding: 0 6px;
    }
.sport2 {
    width: 100%;
}
.SealY {
    width: 62%;
}
.ifYou {
    width: 92%;
    font-size: 15px;
}
.fear{
    padding-bottom: 20px;
    padding-top: 0px;
   
 
       
 
}
.Make15 {
 
    width: 100%;
}
.loud{
    padding-top: 20px;
    font-size: 21px;
}
.with {
    font-size: 21px;
  
}
.backthan{
    font-size: 21px;
}
.UsAbout {
  
    width: 82%;
    font-size: 26px;
    margin-bottom: 2px;
}
.Great{
    height:auto;
    background: linear-gradient(206deg, rgb(51 50 85) 31%, rgb(50 49 90 / 54%) 62%, rgb(53 56 92 / 44%) 76%);
        border: 1px solid rgb(100 100 169);
    /* background: linear-gradient(90deg, rgb(10 6 68 / 57%) 31%, rgb(26 49 102 / 24%) 62%, rgb(31 40 90 / 22%) 76%);
        border: 1px solid rgb(111 121 163); */
        backdrop-filter: blur(60px);
    width: 100%;
        max-width: 530px;
        margin: 0 auto;
}
.yuri{
    background-color: #7b85a9;
}
.EarnP {
    font-size: 30px;
    text-align: center;
    margin-top: 14px;
}
.Rtme {
    width: 100%;
    padding: 0 8px; 
}
.you {
    width: 100%;
}
.divRatT{
    margin-bottom: 0;
    margin-top: 1px;
}
.Great{
    padding-top:20px;
    padding-bottom: 20px;
}
}
@media(max-width:500px){
    .teleCom {
            flex-direction: column;
            gap: 0;
         
            padding: 0 6px;
        }
        .Make15{
            flex-direction: column;
        }
}
@media (max-width: 1024px){
.Rtme {
    max-width: 768px;
}
}

@media(min-width:1250px){
    .Rtme {
        max-width: 1200px;
    } 
    .home5{
        width:100%;
        background-color:#333255;
        padding:10px 10px 40px 10px
    }
}

@media(max-width:464px){
    .cappin{
        width:98% !important;
        max-width: 300px;
    }
}
@media(min-width:501px) and (max-width:768px){
    .ballSport {
            
            top: 58%;
            left: 2%;
        }
}