.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    /* padding:0px 20px 0px 10px; */
    color: #fff;
    /* background-color:#8080805e ; */
    width:100%;
    max-width: 1200px;
    margin:auto

}
.Free_ExportTT{
    color:#fff
}

.feere{
    padding:23px 0;
  

}


/*mobile menu begin*/



label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 190px;
    height: 60px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    
  }
  
  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #69D2e7;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: #f38630;
    text-decoration: none;
    
  }

  







/*mobile menu end*/

/* .Home_Bg_Bg{
    background-color: #1f326c;
} */
.CarouseDivDiv{
    width:100%;
    max-width: 1200px;
    margin:10px auto 10px auto;
}
ul{
    list-style: none;
}
.header_list{
    display:flex
}
.header_list .Prediction_dropDown,.header_list .Premium_Bet,.header_list .Affliate_Bet,
.header_list .Contact_Bet,.header_list .FAQ_Bet{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.header_list li a{
    color:#e8e8ef;
    text-decoration: none;
}

.header_list li a:hover{

    color:#ffc804;
}
.Login{
    border:0;
    padding:6px 15px;
    border-radius: 4px;
    font-weight: 600;
    background-color: #fff;
    color:rgb(20, 3, 3);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.Login:hover{
    background-color:#001041;;
    color:#fff;
    /* border:1px solid #fff; */
}
.ImgDiv{
    width:100%;
    height:200px;
    border-radius: 4px;
    object-fit: contain;
    object-position: 30% 30%;
    vertical-align: middle;
}
.marginMu{
    margin-bottom: 45px;
}
.carousel_Div{

    width: 100%;
    /* max-width: 1200px;
    margin: 0 auto; */
}
.carouselPW1{
    height:600px; 
}
/* .carouselPW{
    height:100px;
} */

.carousel .thumb{
    display:none !important;
}
.carousel .carousel-status {
    display:none !important;
}
.FREE1{
    max-width: 1200px;
    width:100%;
    margin:auto;
}
.Free{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0 10px;
    /* max-width: 1050px; */
    width:100%;
    /* margin:-30px auto 0 auto; */
}
.EarnP{
    font-size: 60px ;
    color:#ffffff;
    font-weight: 800;
    margin-bottom: 12px;
    margin-top:30px ;
    transition: ease all 2s;
}
.EarnP:hover{
    font-variation-settings: "wght" 700; 
    letter-spacing: 1px;
}

.header_Date{
    padding:5px 15px;
    background-color: #e3dede99;
    font-weight: 600;
    color:#000;
    margin-right: 20px;
}
.ActivityDay{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
/* .ActivityDiv{
    width:100%;
    max-width: 1050px;
    margin:auto
} */
.yes{
    background-color:#0092a3 ;
    width:33%;
    padding:10px 10px;
    text-align: center;
    cursor: pointer;
}

.yes:hover{
    background-color:#186871;
    color:#fff;

}

.tod{
    background-color: #ffc804;
    width:33%;
    padding:10px 10px;
    text-align: center;
    cursor: pointer;
}
.tod:hover{
    background-color: #d4b441;
    color:#fff; 
}
.pre{
   background-color: #758ac9;
   width:33%;
   padding:10px 10px;
   text-align: center;
   cursor: pointer;
}
.pre:hover{

    background-color: #4b6bca;
    color:#fff; 

}
.TimeDiv{
    /* max-width: 1050px; */
    width:100%;
    /* margin:auto; */
    display:flex;
    justify-content: space-between;
    align-items: center;
       background-color: #1d2848;
    padding: 15px 10px;
    color: #c8c7d1;
    font-size: 14px;

}

.TimeDiv4{
    width:100%;
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color:#152044ad;
    padding:15px 10px;
    color:#fff;
    font-size: 14px;

}
.TimeDiv li{
    width:16.6%;
    text-align: center;
}

.Leaque{
    width:100%;
    height:400px;
    overflow-y: scroll;
    /* overflow-y: scroll; */
    /* max-width: 1050px; */
    /* margin:0 auto; */
    background-color:#344064c4 ;
    padding:10px 15px;
}
.Leaque::-webkit-scrollbar {
    display: none;
    
}
.faith::-webkit-scrollbar{
    display: none;
}
.SportsImg1::-webkit-scrollbar{
    display: none;
}
.Europe_Div{
    background-color: #fff;
    padding:5px 10px;
    text-align: center;
    margin-bottom: 10px;
}
.TimeDiv1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1f326b; */
    color:#fff;
    padding:10px 0px;
    /* margin-bottom: 10px; */
    cursor:pointer;
    transition: ease all;
}
.ADDTimeDbg{
    background-color: #384e90;
}
.ADDTimeDbg1{
    background-color: #5c6989; 
}
.TimeDiv1:hover{
    background-color: #1f326b; 
    transform: translate(2px);
}
.TimeDiv1 li{
    width:16.6%;
    text-align: center;
    
}
.See_All{
    padding:10px 0;
    text-align: center;
    background-color:#001041;
   
}
.See_All_Prediction{
    background-color: #fff;
    padding:6px 15px;
    border:0;
    outline: 0;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
     cursor:pointer;
   
}
.See_All_Prediction:hover{
    background-color:#1f326c;
    color:#fff;
}

.FOR{
    overflow:hidden
}
.loss{
    background-color: #a60000 !important;
    color:#fff;
}
.react-multiple-carousel__arrow{
    background-color:#354269 !important ;
}
.GameNO{
    display:flex;
    /* align-items: center; */
    justify-content: baseline;
    width:230px;
    height:auto;
    border-radius: 5px;
    box-shadow: rgb(8 8 61 / 25%) 0px 14px 10px -2px, rgb(0 0 0 / 30%) 0px 10px 7px -3px;
    /* margin-right: 15px; */
}
.pauling{
    position:relative;
}
.padup_Guide{
    padding:6px 5px;
    background-color:#383f56;
}
.paulmy_man{
    padding:7px 5px;
    text-align: center;
}
.Email_Like{
    padding:4px 6px;
    text-align: center;
  
}
.Email_Like2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.FeedDiv{
   /* text-align: center; */
    text-decoration: none;
    color:#1f326c;
    cursor: pointer;

}
.LogOutDiv_UN{
    padding:10px 8px;
}
.LogOutDiv_UN:hover{
background-color: #8898c4;
}
.paulFr{
    display:none;
    position: absolute;
    right:0px;
    background-color: #fff;
    color:#000;
    width:204px
    /* padding:10px 15px */
}
.pauling:hover> .paulFr{
    display:block;
}
.Won1{
    width:90%;
    height:auto;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
   
    background-color: #dee2df;
    padding:10px 10px;
}
.Won{
    width:20%;
    height:auto;
    background-color: greenyellow;
    display:flex;
    justify-content: center;
    align-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.No1{
    font-size: 12px;
}
.AMKING{
    background-color: #384e90;
    color:#fff;
    font-weight: 700;
    text-align: center;
}
.AMKING:hover{
    background-color:#384e90 !important ;
}
.WonDiv{
    display:flex;
    justify-content: space-between;
    align-items: center
}
.oods{
    margin:24px 0;
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    /* padding:10px 15px; */

}
.firstWon{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.IF{
    transform: rotate(270deg);
    font-weight: 900;
}
.TipResult{
  padding:10px 10px; 
  background-color: #fff; 
  width:200px;
  text-align: center;
  margin:0 auto 20px auto;
  border-radius: 3px;
}
.PremiumTip{
   margin-top: 10px; 
   background-color: #758ac9;
   padding:15px 10px;
}
.TIRE{
    /* display:grid;
    grid-template-columns: auto auto auto auto auto; */
    /* width:1500px; */
    display:flex;
    justify-content: space-between;

    /* overflow-x: scroll; */
}
.TIRE1{
    width:100%;
    overflow: hidden;
}
.YOUME{
    display:flex;
    background-color: #1f326b;
    padding:10px 5px;
    /* border: 1px solid #fff; */
    border: 0.5px solid #848484;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
}
.WE1{
    width:80%
}
.WE2{
    width:20%
}
.KeepNote{
    text-align: center;
    /* margin:8px 0; */
    margin: 23px 0 11px 0;
    color:#000;
}
.Loss{
    color:#802121;
    font-size: 16px;
    font-weight: 800;
}
.FREESP{
    color:greenyellow;
    font-weight: 700;
}
.WEME{
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    width: 23%;
    margin: 10px auto;

}
.Think{
    padding:5px 15px;
    color:#fff;
    line-height: 20px;
}
.Gamblers{
    color:#cf6f6f;
}
.Investor{
    color:greenyellow
}
.WEARE{
    color:sandybrown
}
.JOIN_NOW{
    width:200px;
    background-color: #fff;
    color:#000;
    margin: 20px auto 10px auto;
    text-align: center;
    padding:10px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
.dropsF{
    width:10px
}
.JOIN_NOW:hover{
background-color: #4b6bca;
color:#fff;
}
.JOIN_NOW1{
    background-color: #fff;  
    color:#000;
    text-align: center;
    padding: 10px;
    width:200px;
    margin:auto;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;

}

.JOIN_NOW1:hover{
  
    background-color: #4b6bca;
    color:#fff;
}


.MAKE_UPTO{
   
  
    display:flex;
    align-items: center;
 
    
}
.MAKE_UPTO43{
    background-color: #758ac9;
    border-radius: 5px;
    padding:20px 10px;
    margin-top: 10px;
}
.PROGRAM{
    width:70%
}
.PROGRAM1{
    width:30%;
}
.OUR_P{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    width: 850px;
    margin: 0 auto 20px auto;
}
.Money{
    font-size: 26px;
    font-weight: 700;  
    color:greenyellow;
}
.Instant_Daily{
    font-size: 26px;
    font-weight: 700;
    text-align: center; 
    color:#9b3131;
}
.START_NOW21{
    width:110px;
    background-color: #fff;
    padding:20px 25px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin:0 auto;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.START_NOW21:hover{
    background-color:#4b6bca;
    color:#fff;
}
.FOOTBALL_NEWS{
    padding:15px 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color:#fff;
    /* margin-top: 20px;
    margin-bottom: 7px; */
}
.SapImg{
    /* position: relative; */
    width:100%;
   height:219px; 
}
.FootballVisual{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
.OURppp{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color:#f1e8e8
}

#Faqc{
    position:relative;

    transition:ease all 3s;
}
.SapDiv{
    width:290px;
    height: auto;
    /* border: 0.5px solid #494d57; */
    margin-bottom: 20px;
    box-shadow: 0px 2px 16px 3px #182240;
    border:0.5px solid #e2e5ee;
   
    border-radius: 5px;
}
.SapDiv:hover{
 transform:scale(1.02);
 box-shadow: 0px 2px 16px 3px #3d4a74;
 transition: ease all 1s;
}
.IMGS{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:100%;
    height: 219px;

}
.Nigerian{
    margin-top: 15px ;
    padding:0 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#fff;
}
.Read{
    padding:8px 15px;
    border:0;
    border-radius: 5px;
    background-color: #1f326b;
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 1px solid #fff; */
    border: 0.5px solid #9f8d8d;
    cursor:pointer;
}

.Read:hover{
    color:#000;
    background-color: #fff;
}
.Emeka{
    margin:10px auto 0 auto;
    width:150px;
    text-align: center;
}
.Emy{
    display:flex;
    justify-content: space-between;
}

.NewsBall{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 7px;
}
.SEE_ALL{
    color: #ffd400;
    font-weight: 600;
    border: 1px solid #777373;
    padding: 6px 8px;
    border-radius: 5px;
    cursor:pointer;
}

.SEE_ALL:hover{
    color:#000;
    background-color: #fff;
}
.HowFarBro{
    /* background-color:#1b213a; */
    background-color: #272644;
    color: #b2b6bd;
    padding:10px 15px;
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.HowFarBro span{
    font-size: 16px;
}
.yuri2{
    display:flex;
    align-items: center;
    gap:10px
}
.yuri{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color: #3c476e;
}
.PlusIcon{
    font-size: 16px;
    font-weight: 900;
    color:#b2aaaa
}
.plusIcon2{
    color:#859bdf

}

.HowFarBro:hover{
    background-color: #445997;
    color: #ffff08;

}
.ILOVEK{
    padding:10px 15px;
    background-color: #fff;
    color:#000;
    font-size: 16px;
}
.imghy{
    width:130px;
    margin-top: 9px;
}
.firstTom{
    color:#000;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin:28px 0 20px 0;
}

.OverTime_View {
    background-color: #fff;
   
    display:none;
    position:absolute;
    z-index: 5;
    /* top: 30px; */
    /* margin-top: 17px; */
    left: -2px;
    width: 175px;
    transition: ease all 1s;
}
.DoubleChancert{
    display: flex;
    flex-direction: column;
  
}

.DoubleChancert a{
    color:#000 !important
}
 .AddMeUp{
     width:205px !important;
 }


.OverTime_View  a{
    padding:10px 10px;
    cursor:pointer
} 


.OverTime_View a:hover{
    background-color: #758bc9;
    color: #fff !important;
}
.Prediction_dropDown{
    position:relative;
}

.Premium_Bet{
    position:relative;
}
.OverTime_View  li a{
    color:#000;

}
.Prediction_dropDown:hover > .OverTime_View{
    display:block

}

.Premium_Bet:hover > .OverTime_View{
    display:block

}

.cover_Div{
    background-color:#3c476e;
    height: 12px;
    padding:0 !important;
    margin:0
}
.cover_Div:hover{
    background-color:#3c476e !important ;
}







@media (max-width:1024px){
    .header{
        max-width: 100%;
        padding: 0 20px;
        width: 100%;
    }

    .header_list .Prediction_dropDown,.header_list .Premium_Bet,.header_list .Affliate_Bet,
.header_list .Contact_Bet,.header_list .FAQ_Bet{
  
    margin-left: 5px;

}


}

@media (max-width:768px){
    .header{
        display:none
    }
    .FREE1 {
        max-width: 540px !important;
    }
    .JOIN_NOW ,.JOIN_NOW1 {
        width: 160px;
    }
    .WE1 {
        width: 68% !important;
    }
    .WEME {
        width: 60% !important;
    }
    .OUR_P {
        font-size: 18px !important;
    }
    .Instant_Daily {
        font-size: 22px !important;
      
    }
  
    .Emy {
        display: grid;
        grid-template-columns: auto auto;
       
    }
    .SapDiv {
        width: 250px !important;
    }
    .SapImg {
        height: 160px !important;
    }
    .TimeDiv li {
       
        font-size: 11px;
    }

.Hidden_div{
    display:none;
}
  
}
@media(max-width:560px){
    .FREE1 {
        max-width: 100% !important;
        padding: 0px 5px;
    }
    .YOUME {
        flex-direction: column;
    }
   
    .WE1 {
        width: 100% !important;
    }
    .WE2 {
        width: 100%;
    }
    .MAKE_UPTO {
        flex-direction: column;
    }
    .PROGRAM1 {
        margin-top: 10px;
    }
    .Emy {
        display:flex;
        flex-direction: column;
        /* grid-template-columns:  auto; */
    }
    .SapDiv {
        width: 100% !important;
    }
    .SapImg {
        height: 240px !important;
    }
    .Read {
        margin-bottom: 15px !important;
        margin-top: 10px !important;
    }
    .IMGS {
        height: 240px !important;
    }
    .GameNO {
      
        width:auto;
        
    }
    .WEME {
        width: 57% !important;
    }
    .PROGRAM {
        width: 80%;
    }
}

@media(max-width:320px){

    .WEME {
        width: 67% !important;
    }

    .FOOTBALL_NEWS{
        font-size: 14px !important;
    }

}

