.codeSent {
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}

.codePP {
    width: 60px;
    height: 60px;

    text-align: center;

    cursor: pointer;
    position: relative;
}


.fadaFara {
    color: #d1cece;
}

.OTPDiv {
    width: 100%;
    max-width: 210px;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.sesetP {
    text-decoration: none;
}

.sesetP:hover {
    cursor: pointer;
    color: lightgreen
}