.sportPa {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 5px;
}

.MakingMoney {
    width: 100%;
    max-width: 600px;
    margin: 20px auto 20px auto;
    font-size: 24px;
    text-align: center;
    color: #fff;
        font-weight: 800;
}

.NowUpSign {
    padding: 10px 5px;
    margin: 15px auto;
    width: 146px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 4px;
    backdrop-filter: blur(4.3px);

    box-shadow: 0 4px 44px rgb(0 0 0 / 0%);
    border: 1px solid rgba(133, 164, 229, 0.32);
    background: #2c274a;
    cursor: pointer;


}

.ifi {
    text-decoration: none;
    color: #fff;

}

.ifi:hover {
    color: #000;
}

.NowUpSign:hover {
    background: #fff;
    color: #000 !important;
}


.SportBetting {
    /* color: #e0be00; */
    color:#131226;
    margin: 45px auto 20px auto;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.outcomeBeen1 {
    padding: 0 10px;
}

.outcomeBeen {

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #e5e7ef;
    -webkit-backdrop-filter: blur(4.3px);
    backdrop-filter: blur(4.3px);

    border: 1px solid rgb(108 122 168);

    background: radial-gradient(circle, #7f89b7 0%, #3e4970 100%);
    box-shadow: rgb(20 20 62 / 25%) 0px 13px 27px -5px, rgb(14 13 70) 0px 8px 16px -8px;
    /* box-shadow: rgb(174 174 219 / 25%) 0px 13px 27px -5px, rgb(122 133 161 / 30%) 0px 8px 16px -8px; */
    padding: 30px 10px;
    border-radius: 5px;
    font-size: 18px;
}

.WhyStart {
    text-align: center;
    color: #e0be00;
    font-size: 24px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 8px;

}

.EasyTi {
    display: flex;
    height: auto;
    padding: 0 10px;
    align-items: stretch;
    justify-content: space-between;

}

.EasyTim {
    width: 32%;
    border: 1px solid rgb(91 100 143);
    box-shadow: 0 4px 17px rgb(15 24 52 / 82%);
    -webkit-backdrop-filter: blur(4.3px);
    backdrop-filter: blur(4.3px);
    /* background-color: #29214ed4; */
    backdrop-filter: blur(100px);
    background-color: #29214e26;
    color: #b8bcc7;
    padding: 15px 15px;

    border-radius: 5px;
   
     border-radius: 20px
}

.fora {
    margin-bottom: 10px;
}

.everyDay {
    font-size: 16px;
}

.startedf {
    color: #5f7ac9;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    /* text-align: center; */
}

.AgenciesTy {
    /* color:#fff; */
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    padding: 0 6px;
    color: #e0be00;
}

.everyDay {
    width: 100%;
    max-width: 800px;
    padding: 0 8px;
    /* text-align: center; */
    color: #dddfe3;
    margin: 0 auto 40px auto;

}

.wemerYt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.papaf1 {
    width: 100%;
}

.papaf12 {
    width: 186px
}

.papaf13 {
    width: 250px;

}

.papaf14 {
    width: 50px;

}

.papaf15 {
    width: 90px;

}

.BettingTu {
    text-align: center;
    width: 40%;
    padding: 6px 2px;
    color: #ffffff;
    margin: 40px auto 20px auto;
  
    font-size: 24px;
    font-weight: 700;
    
}

.firey {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.firey1 {
    width: 32%;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
}

.faqSports {
    color: #fff;
}

.faqSportMa {
    margin-bottom: 50px;
}

.imghi {
    width: 100%;
    height: auto
}

.ifNi {
    width: 24%;
    margin: 0 auto 30px auto;
    height: 3px;
    background-color: #c6cbd2;
}

.forexy {
    color: #e0be00;
    font-size: 24px;
    font-weight: 700;
}
.forexy1 {
    color: #e0be00;
    font-size: 18px;
   
}

.SportsImg {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-between;
    overflow-x: hidden;

}

.onV {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.everyday {
    width: 50px
}

.SportsImg1 {
    width: 100%;
    padding: 0 10px;
    max-width: 100%;
    overflow-x: scroll;
    background-color: #505782;
    padding: 10px 6px;
    border-radius: 1px;
}

.Dayword {
    text-align: center;
}

@media(min-width:500px) and (max-width:768px) {

    .outcomeBeen1,
    .Dayword {
        padding: 0px 60px !important;
    }

    .BettingTu {
        width: 84% !important;
    }

    .firey {
        padding: 0 60px !important;
    }

    .EasyTi {

        padding: 0 60px !important;

    }

}

@media(max-width:768px) {
    .MakingMoney {
        padding: 0 15px;
    }

    .EasyTi {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        padding: 0 10px;
        /* gap: 15px; */
    }

    .outcomeBeen {
        font-size: 15px;
    }

    .everyDay {
        font-size: 15px;
    }

    .SportsImg {
        width: 1050px
    }

    .EasyTim {
        margin-bottom: 15px;
    }

    .AgenciesTy {
        font-size: 22px;
        margin-top: 22px;
    }

    .Dayok {
        padding: 0 8px
    }

    .BettingTu {
        width: 86%;
        font-size: 22px;
        margin: 22px auto 8px auto;
    }

    .faqSportMa {
        margin-bottom: 18px;
        padding: 0 8px;
    }

    .figma {
        width: 100%;
        max-width: 100%;
        /* position:relative; */
        overflow-x: scroll;

    }

    .firey {
        /* flex-direction: column;
        gap: 12px; */
        display: flex;
        justify-content: space-between;
        width: 1840px;
        position: relative;
        overflow-x: hidden;
        padding: 0 8px;
    }

    .how {
        width: 930px !important;
    }

    .firey1 {
        width: 300px;

        border-radius: 5px;
    }

    .pn {
        border-radius: 5px;
    }

    .EasyTim {
        height: 100%;
        width: 100%;
    }

    .outcomeBeen1 {
        padding: 0 8px;
    }

    .SportBetting {
        font-size: 26px;
         margin: 22px auto 14px auto;
    }
    .WhyStart{
        margin-top: 22px;
    }

    .cap3 {
        width: 44px !important;
    }

    .cap5 {
        width: 62px !important;
    }

    .cap4 {
        width: 38px !important;
    }

    .wemerYt {
        padding: 0 8px
    }

    .startedf {
        font-size: 20px;
    }



}

@media(min-width:1250px) {
    .sportPa {

        max-width: 1200px;

    }
}