.Cover_BackgroundColor{
    /* background-color:#1f326e ; */
    width:100%;
    height:100vh;
    overflow-y: scroll;
}
.Enter_Expected_Profit{
    width:100%;
    /* max-width:600px; */
    margin:1px auto;
    /* background-color: #1e2c54; */
        /* background: linear-gradient(71deg, #383f5691, #3c476ec2, #505e93bf); */
        background-color: #1e2c54;
    padding:10px 15px 20px 15px;
    margin-bottom: 40px;
    border-radius: 5px;
}
.addWin{
    background-color: #40a750;
    
}
.addWin12{
    background-color:#cf3e3e;
}
.ExposeMass{
    text-align: center;
    color:#fff;
    font-size: 18px;
    padding:10px 
}
.Total56{
    display:flex;
    justify-content: space-between;

}
.Streak_Loss{
    text-align: center;
    color:#fff;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.NumLosDiv{
    display:flex;
    justify-content: space-between;
}
.DivNumbering{
    width:49%;
    padding:8px 5px ;
    color:#fff;
    text-align: center;

}
.Wefe{
    text-align: center;
    color:#fff;
    padding:8px 5px;
    width:49%;
    background-color:#758bc9 ;
    margin-top: 5px;
}
.InvestTotal{
    text-align: center;
    color:#fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding:8px 3px;
    margin-top: 13px;
}
.ExposeMass1{
    display:flex;
    align-items: center;
    margin-bottom: 30px;
}
.Editj{
    color:#a19999;
}
.moneyInBank{
    padding:8px 5px;
    text-align: center;
    color:#fff;
    background-color:#758bc9 ;

}
.addingOne{
    background-color: #3e4f8178;
}
.infu1{
    width:20%;
    color:#000;
    background-color: #fff;
    text-align: center;
    padding:8px 5px;
}
.nfu2{
    width:60%
}
.infu3{
    width:100%;
    padding:8px 5px;
    text-align: center;
    outline: 0;
    border: 0;
}
.Team_Odd_Tip{
    display:flex;
    justify-content: space-between;
}
.Win_Loss{
    width:49.7%;
}
.Win_Loss1{
    color:#fff;
    text-align: center;
    margin-bottom: 5px;
}
.school245{
 width: 49%;
}
.Win_ButTON{
    outline:0;
    border:0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    width:100%;
    margin-top: 10px;
    padding:8px 5px;
    border-radius: 4px;
}
.New_Month{
    width:100%;
    max-width: 600px;
    margin:0 auto;
}
.backBet{
   
    width:100%;
    
    
    margin:0 auto 100px auto;
    background-color: #1e2c54;
    
    padding:10px 15px 20px 15px;
    color:#fff;
    border-radius: 4px;

}
.betBackF{
    display:flex;
    justify-content: space-between;
}
.betBackFIN{
    width:49%;

}
.cityTouch{
    width: 100%;
    padding:6px 4px;
    outline:0;
    border:0;
    border-radius: 2px;
    margin-bottom: 10px;
}
.cityTouch::-webkit-outer-spin-button,
.cityTouch::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .cityTouch[type=number] {
    -moz-appearance: textfield;
  }
.bottomMargin{
    margin-bottom: 10px;
}
.marTop{
    margin-top: 15px;
}
.boldFont{
    font-weight: 700;
    font-size: 15px;
}
.bolding{
font-weight: 700;
/* color:#001041; */
}
.bottomMargin1{
margin-bottom: 3px;
color:#cbcac5;
}
.betTotalDiv{
    /* background-color: #536bb1; */
    background-color: #34467a85;
    margin-top: 25px;
    border-radius: 4px;
    padding:8px 5px
}
.ratesAt{
    padding:8px 4px;
    border:0.4px solid #dddddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
.DeciFac{
    padding:10px 8px;
    /* border:0.2px solid #fff; */
    border: 0.5px solid #848484;
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 10px;
}

.AMQ::-webkit-outer-spin-button,
.AMQ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .AMQ[type=number] {
    -moz-appearance: textfield;
  }
.AMQ{
    outline: 0;
    border:none;
    background-color: inherit;
    border-bottom: 1px solid #fff;
    max-width: 100%;
    width: 100%;
    color:#fff;
}

/* .outYre45{
    font-size: 16px;
} */



.deciNum_Input::-webkit-outer-spin-button,
.deciNum_Input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .deciNum_Input[type=number] {
    -moz-appearance: textfield;
  }
.deciNum_Input{
    background-color:inherit; 
    border:none;
    outline:0;
    border-bottom: 1px solid #fff;
    width:100%;
    padding:8px 4px;
    font-size: 16px;
    margin-top: 35px;
    color:#fff
}
.FracDeci{
    background-color:#34467a85;
    padding: 20px 8px;
}
.outYre2{
    position:relative;
    width:31%;
    
}
.foorms{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.foorms_input{
    background-color: inherit;
    border: none;
    outline:0;
    border-bottom:1px solid #fff;
    width:100%;
    color:#fff;
    padding:4px 0px
}
.Du{
  display:flex;
justify-content: center;
align-items: center;
}
 .Bet_CC{ 
margin-top: 80px;
    display:flex;
justify-content: space-between;
align-items: center;
width:100%;
max-width:  1000px;
color:#fff;
margin-bottom: 40px;
} 
.VirtualP{
padding:6px 7px;
font-size: 16px;
background-color: #1f326b;
border-radius: 3px;
cursor: pointer;
}
.VirtualP:hover{
    background-color:#001041;
    
}

.lin{
    padding:2px 0;
}
.toty{
    width:40%
}
.Stake_Dive{
    width:48%
}
.Div_Stake{
    padding:0 4px;
    border-bottom: 1px dotted #fff;
}

.outYre{
    position: absolute;
    margin-bottom: -10px !important;
}
.calB{
    padding:9px 12px;
    border:none;
    outline: 0;
    font-size: 16px;
    border-radius: 5px;
}
.Deci_DivButton{
    margin-top: 20px;
    display:flex;
    gap:10px
}
.ButtonShift{
    display:flex;
    justify-content: right;
}
.ChangeFracDi{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin:5px 0 15px 0

}
.diviveNax{
    margin: 0px auto 25px auto !important;
}
.Car{
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
    padding:0 10px;
}
.Car2{
    width:100%;
    padding:6px 4px;
    outline: none;
    border:0;
    border-radius: 2px;
}


.Mobile_menu1{
    color:#fff;
   
}



.Closeme{
    font-size: 25px;
    margin-top: -10px;
}











@media(max-width:1010px){
.Du{
display:none;
}
.Car{
    margin-top: 100px;
}
}
@media(max-width:768px){
    .Car{
        margin-top: 22px;
    } 
    .backBet{
        margin: 0 auto 22px auto;
    }
}
@media(min-width:769px) and (max-width:1010px){
    .Car{
        margin-top: 88px;
    } 
}
@media (min-width:616px) and (max-width:1010px){
  .pink{
    width: 100%;
    max-width: 619px;
    margin: 0 auto;
  }
}
@media(min-width:1011px){
    .Car{
    display:none;
    }
    }


  @media(max-width:610px){
    .New_Month {
        
        max-width: 100%;
        padding:0 8px;
        
    }
    .infu1 {
        width: 93%;
       
    }
  }

  @media(max-width:768px){
    .Win_ButTON{
        font-size: 13px;
    }


.InvestTotal{
    font-size: 15px;
}
.infu13{
    font-size:12px ;
}
.Enter_Expected_Profit{
    margin-bottom: 17px !important;
}

  }